.wrapperActorsAllMoviePage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 16px 10px 16px;
}

.listAllActorMovies {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 12px;
  column-gap: 8px;
  row-gap: 12px;
}

.itemAllMovies {
  max-width: 160px;
  height: 350px;
  padding: 6px;

  background-color: #bacabd;
  transform: var(--transition-duration-and-timing-function);
}

.itemAllMovies:focus,
.itemAllMovies:hover {
  background-color: var(--accent-text-color);
}

/* .wrapperImageOnly {
  max-width: 200px;
  max-height: 340px;
} */

.movieImage {
  width: 100%;
  height: 100%;
}

.titleAllMovies {
  color: var(--second-text-color);
  text-align: center;
  font-size: 16px;
}

.textAllMovies {
  color: var(--main-text-color);
  text-align: left;
  font-size: 12px;
}

.loadMoreButtonActorAllMovies {
  margin-top: 12px;
}
